@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@plugin "@tailwindcss/typography";

:root {
	--background-primary: #fbf9f3;
	--background-secondary: #eeeae2;
	--text-primary: #1e1e1c;
	--text-secondary: #4a4945;
	--border-primary: #bfbfc6;
	--border-secondary: #d9d9df;

	--highlight-primary: #c96f5c;
	--highlight-secondary: #8390fa;

	--project-color: #222526;
	--project-color-accent: #2225260d;
	--project-color-border: #2225261f;
	--project-color-gradient: #e9e9e91f;
	--radius: 0.625rem;
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
}

@theme {
	--color-background-primary: var(--background-primary);
	--color-background-secondary: var(--background-secondary);
	--color-text-primary: var(--text-primary);
	--color-text-secondary: var(--text-secondary);
	--color-border-primary: var(--border-primary);
	--color-border-secondary: var(--border-secondary);
	--color-project-background-accent: var(--project-background-accent);
	--color-highlight-primary: var(--highlight-primary);
	--color-highlight-primary-accent: var(--highlight-primary-accent);
	--color-highlight-secondary: var(--highlight-secondary);
	--color-highlight-secondary-accent: var(--highlight-secondary-accent);
	--color-hero-background-primary: var(--hero-background-primary);
	--color-hero-background-secondary: var(--hero-background-secondary);

	--font-montserrat: var(--font-montserrat);
	--font-nunito: var(--font-nunito);
	--font-plex-mono: var(--font-plex-mono);

	--shadow-project-card: 2px 2px 8px 2px var(--project-color-accent);
	--shadow-project-card-hover: 0px 0px 12px 2px var(--project-color-accent);

	--shadow-primary: 2px 0px 8px 4px #e9e9e97a;
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.922 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
}

@layer base {
	* {
		box-sizing: border-box;
	}

	.project-gradient {
		background:
			radial-gradient(at 70% 53%, transparent 0px, transparent 50%),
			radial-gradient(
				at 80% 60%,
				var(--project-color-gradient) 0px,
				transparent 50%
			),
			radial-gradient(at 34% 71%, transparent 0px, transparent 50%),
			radial-gradient(
				at 13% 83%,
				var(--project-color-gradient) 0px,
				transparent 50%
			),
			radial-gradient(at 19% 27%, transparent 0px, transparent 50%),
			radial-gradient(
					at 74% 26%,
					var(--project-color-gradient) 0px,
					transparent 50%
				)
				transparent;
		mix-blend-mode: normal;
	}

	.bg-texture::after {
		content: "";
		position: absolute;
		inset: 0;
		top: 0;
		bottom: 0;
		pointer-events: none;
		background-image: url("/bg-noise.svg");
		mix-blend-mode: multiply;
		opacity: 0.5;
		z-index: -9;
	}
}
