@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
	--background-primary: #fbf9f3;
	--background-secondary: #eeeae2;
	--text-primary: #1e1e1c;
	--text-secondary: #4a4945;
	--border-primary: #bfbfc6;
	--border-secondary: #d9d9df;

	--highlight-primary: #f08700;
	--highlight-secondary: #8390fa;

	--project-color: #222526;
	--project-color-accent: #2225260d;
	--project-color-border: #2225261f;
	--project-background-accent: #e9e9e91f;
}

@theme {
	--color-background-primary: var(--background-primary);
	--color-background-secondary: var(--background-secondary);
	--color-text-primary: var(--text-primary);
	--color-text-secondary: var(--text-secondary);
	--color-border-primary: var(--border-primary);
	--color-border-secondary: var(--border-secondary);
	--color-project-background-accent: var(--project-background-accent);
	--color-highlight-primary: var(--highlight-primary);
	--color-highlight-primary-accent: var(--highlight-primary-accent);
	--color-highlight-secondary: var(--highlight-secondary);
	--color-highlight-secondary-accent: var(--highlight-secondary-accent);
	--color-hero-background-primary: var(--hero-background-primary);
	--color-hero-background-secondary: var(--hero-background-secondary);

	--font-montserrat: var(--font-montserrat);
	--font-nunito: var(--font-nunito);

	--shadow-project-card: 2px 2px 8px 2px var(--project-color-accent);
	--shadow-project-card-hover: 0px 0px 12px 2px var(--project-color-accent);

	--shadow-primary: 2px 0px 8px 4px #e9e9e97a;
}

.hero-section {
	background-image:
		radial-gradient(circle at 0% 100%, #8390fa3f 0%, transparent 15%),
		radial-gradient(circle at 25% 95%, #f087003a 0%, transparent 20%),
		radial-gradient(circle at 50% 95%, #8390fa3a 0%, transparent 25%),
		radial-gradient(circle at 75% 100%, #f087003a 0%, transparent 15%),
		radial-gradient(circle at 100% 95%, #8390fa3a 0%, transparent 25%);
}
